<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="project-form">

	<input type="hidden" id="id" name="id" th:value="${project.id}" />

	<ul class="nav nav-tabs" id="formTab">
		<li class="active">
			<a href="#home">
				<span class="glyphicon glyphicon-tasks"></span>
			</a>
		</li>
		<li th:if="${readOnly}">
			<a href="#authorShipTab">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<br/>
			<div class="form-group">
				<label for="name" class="control-label" th:text="#{common.name}"></label>
				<input type="text" id="name" class="form-control" th:field="*{name}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).NAME}" />
			</div>
			<div class="form-group">
				<label for="description" class="control-label" th:text="#{common.description}"></label>
				<textarea id="description" class="form-control" th:field="*{description}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).DESCR}"></textarea>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-6">
						<label for="project.startDate" class="control-label" th:text="#{common.startDate}"></label>
						<input type="text" class="form-control datepicker applyDatePicker" th:field="*{startDate}" th:readonly="${readOnly}" />
					</div>
					<div class="col-lg-6">
						<label for="project.endDate" class="control-label" th:text="#{common.endDate}"></label>
						<input type="text" class="form-control datepicker applyDatePicker" th:field="*{endDate}" th:readonly="${readOnly}" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-6">
						<label for="project.extendedDate" class="label-control" th:text="#{project.extendedDate}"></label>
						<input type="text" class="form-control datepicker applyDatePicker" th:field="*{extendedDate}" th:readonly="${readOnly}" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-12">
						<label for="project.users" class="label-control" th:text="#{users}"></label>
						<select name="users" id="listTo" size="5" multiple="multiple" class="form-control chosen-select applyChosen" th:disabled="${readOnly}" th:attr="data-placeholder=#{common.select}">
							<div th:each="user : ${userList}" th:remove="tag">
								<option th:value="${user.id}" th:text="${user.name}" th:selected="${not #sets.isEmpty(project.users) and #sets.contains(project.users, user)}"></option>
							</div>
						</select>
					</div>
				</div>
			</div>
		</div>

		<br/>
		<div class="tab-pane" id="authorShipTab">
			<div th:remove="tag" th:include="@{fragments/_authorship} :: authorship"></div>
		</div>

	</div>

</body>
</html>