<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="user-form">

	<input type="hidden" id="id" name="id" th:value="${user.id}" />
	<input type="hidden" id="pictureOriginalName" name="pictureOriginalName" th:value="${user.pictureOriginalName}" />
	<input type="hidden" id="pictureGeneratedName" name="pictureGeneratedName" th:value="${user.pictureGeneratedName}" />

	<ul class="nav nav-tabs" id="formTab">
		<li class="active">
			<a href="#home">
				<span class="glyphicon glyphicon-tasks"></span>
			</a>
		</li>
		<li th:if="${readOnly}">
			<a href="#authorShipTab">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<br/>
			<div class="form-group">
				<label for="name" class="control-label" th:text="#{user.name}"></label>
				<input type="text" id="name" class="form-control" th:field="*{name}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).NAME}" />
			</div>
			<div class="form-group">
				<label for="email" class="control-label" th:text="#{user.email}"></label>
				<input type="text" id="email" class="form-control" th:field="*{email}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).SMALL}" />
			</div>

			<div th:remove="tag" th:unless="${readOnly}">
				<div class="form-group" th:if="${editing}">
					<label for="changePassword" class="control-label" th:text="#{user.change-password.title}"></label>
					<input type="checkbox" id="changePassword" name="changePassword" value="true" onchange="$('#passwordFields').toggle();" />
				</div>
				<div th:unless="${editing}" th:remove="tag">
					<input type="checkbox" id="changePassword" name="changePassword" value="true" checked="checked" class="hide" />
				</div>
			</div>
			<div id="passwordFields" th:style="${editing} or ${readOnly} ? 'display: none;' : ''">
				<div class="form-group">
					<label for="password" class="control-label" th:text="#{user.password}"></label>
					<div class="input-append">
						<input type="password" id="password" name="password" class="form-control" th:maxlength="${+T(com.openscrum.common.util.InputLength).MEDIUM}" />
					</div>
				</div>
			</div>
			<div th:if="${changePassword}" th:remove="tag">
				<input type="checkbox" id="changePassword" name="changePassword" value="true" checked="checked" class="hide" />
				<div class="form-group">
					<label for="password" class="control-label" th:text="#{user.password}"></label>
					<div class="input-append">
						<input type="password" id="password" name="password" class="form-control" th:maxlength="${+T(com.openscrum.common.util.InputLength).MEDIUM}" />
					</div>
				</div>
			</div>
			<div class="form-group" th:unless="${readOnly}">
				<label class="control-label" th:text="#{user.group.permissions.selected}"></label>
				<select name="groups" id="listTo" size="5" multiple="multiple" class="form-control chosen-select applyChosen" th:disabled="${readOnly}" th:attr="data-placeholder=#{common.select}">
					<div th:each="group : ${groupList}" th:remove="tag">
						<option th:value="${group.id}" th:text="${group.name}" th:selected="${not #sets.isEmpty(user.groups) and #sets.contains(user.groups, group)}"></option>
					</div>
				</select>
			</div>
			<div class="form-group" th:if="${readOnly}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{user.groups}"></strong>
					</div>
					<ul class="list-group">
						<li class="list-group-item" th:each="group : *{groups}">
							<a th:href="@{/user-group/view/} + ${group.id}" th:text="${group.name}" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST, ROLE_USER_PERMISSION_LIST, ROLE_USER_PERMISSION_VIEW')"></a>
							<span sec:authorize="!hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST, ROLE_USER_PERMISSION_LIST, ROLE_USER_PERMISSION_VIEW')" th:text="${group.name}"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="form-group">
				<label for="picturefiles" class="control-label" th:text="#{user.picturefiles}"></label>
				<input type="file" class="form-control" name="picturefiles[0]" />
			</div>
		</div>

		<br/>
		<div class="tab-pane" id="authorShipTab">
			<div th:remove="tag" th:include="@{fragments/_authorship} :: authorship"></div>
		</div>
	</div>

</body>
</html>