<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container">
		<div class="row">
			<br /><br /><br />
			<div class="col-md-12">
				<div class="alert alert-danger">
					<h2>
						500
					</h2>
					<h3 th:text="#{error.500}">
					</h3>
					<p th:text="#{error.500.msg}">
					</p>
				</div>
			</div>
		</div>

		<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	</div>
</body>
</html>