<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-error">
					<h2 th:text="#{error.fatal.code}"></h2>
					<h3 th:text="#{error.fatal.title}"></h3>
					<p th:text="#{error.fatal.message}"></p>
				</div>
			</div>
		</div>

		<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	</div>
</body>
</html>