<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">

				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{user.group.view.title}"></strong>
					</div>
					<div class="panel-body">
						<form id="userGroupForm" th:action="@{/user-group/save}" th:object="${userGroup}" method="post">
							<div th:remove="tag" th:include="@{user-group/_permission-form} :: permission-form"></div>

							<br/>
							<div class="form-actions">
								<a th:href="@{/user-group/edit/} + ${userGroup.id}" class="btn" sec:authorize="hasAnyRole('ROLE_ADMIN,ROLE_PERMISSION_EDIT')">
									<i class="glyphicon glyphicon-edit"></i>
									<span th:text="#{common.edit}" th:remove="tag"></span>
								</a>

								<a th:href="@{/user-group/list/}" class="btn">
									<i class="glyphicon glyphicon-backward"></i>
									<span th:text="#{common.back}" th:remove="tag"></span>
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
</body>
</html>