<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>
	
	<div id="loginScreen" class="container">

		<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>


		<div class="row">
			<div class="col-md-12 text-center login-header">
				<h2 th:text="#{login.welcome.title}"></h2>
			</div><!--/span-->
		</div><!--/row-->

		<br/>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default" style="margin-left: 25%; margin-right: 25%;">
					<div class="panel-heading">
						<strong th:text="#{user.login.title}"></strong>
					</div>

					<div class="panel-body">
						<form id="login_form" th:action="@{/j_spring_security_check}" method="post" role="form" class="form-horizontal" style="margin-left: 5%; margin-right: 5%;">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-user"></span>
									</span>
									<input autofocus="autofocus" class="form-control focus" id="j_username" name="j_username" type="text" th:placeholder="#{user.name}" />
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-lock"></span>
									</span>
									<input class="form-control" name="j_password" id="j_password" type="password" th:placeholder="#{user.password}" />
								</div>
							</div>
							<div class="form-group">
								<button id="login_button" type="submit" class="btn btn-primary" th:text="#{user.login}"></button>
							</div>
						</form>
					</div>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	
		<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
		<script th:src="@{/resources/app/js/login.js}"></script>
	</div>

</body>
</html>
