<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="@{fragments/headTag} :: headTag">
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{auditlog.list}"></strong>
					</div>
					<br/>
					<div class="container">
						<div class="col-md-12">
							<div class="table-responsive">
								<table id="auditLogTable" class="table table-striped table-hover table-bordered datatables">
									<thead>
										<tr>
											<th th:text="#{auditlog.transactionType}"></th>
											<th th:text="#{auditlog.entityName}"></th>
											<th th:text="#{auditlog.registryId}"></th>
											<th th:text="#{auditlog.operationDate}"></th>
											<th th:text="#{auditlog.executedBy}"></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	<script th:inline="javascript">
		var listTable;
		$(document).ready(function() {
			listTable = $('#auditLogTable').dataTable({ 
		        'bProcessing' : true, 
		        'bServerSide' : true, 
		        'aoColumns' : [ 
		                            {	
		                            	'sName' :  /*[[${#messages.msg('auditlog.transactionType')}]]*/ ''
		                            	, 'bSortable' : true
		                            },
		                            {	
		                            	'sName' :  /*[[${#messages.msg('auditlog.entityName')}]]*/ ''
		                            	, 'bSortable' : true
		                            }, 
		                            {	
		                            	'sName' :  /*[[${#messages.msg('auditlog.registryId')}]]*/ ''
		                            	, 'bSortable' : false
		                            }, 
		                            {	
		                            	'sName' :  /*[[${#messages.msg('auditlog.operationDate')}]]*/ ''
		                            	, 'bSortable' : true
		                            }, 
		                            {	
		                            	'sName' :  /*[[${#messages.msg('auditlog.executedBy')}]]*/ ''
		                            	, 'bSortable' : true
		                            }
		                       ] 
		            , 
		        'aaSorting': [[3, "desc"]], 
		        'sAjaxSource': App.contextPath + '/auditlog/search',  
		        'bRetrieve': true, // retrieve table as jquery elements to be manipulated 
		        'bDestroy': true,
		        "sServerMethod": "POST"
			}); 
		});
	</script>
</body>
</html>