<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body th:fragment="workflow-form">

	<input type="hidden" id="id" name="id" th:value="${workflow.id}" />

	<ul class="nav nav-tabs" id="formTab">
		<li class="active">
			<a href="#home">
				<span class="glyphicon glyphicon-tasks"></span>
			</a>
		</li>
		<li th:if="${readOnly}">
			<a href="#authorShipTab">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<br/>
			<div class="form-group">
				<label for="name" class="control-label" th:text="#{common.name}"></label>
				<input type="text" id="name" class="form-control" th:field="*{name}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).NAME}" />
			</div>
			<div class="form-group">
				<label for="description" class="control-label" th:text="#{common.description}"></label>
				<textarea id="description" class="form-control" th:field="*{description}" th:readonly="${readOnly}" th:maxlength="${+T(com.openscrum.common.util.InputLength).DESCR}"></textarea>
			</div>
			<div class="form-group" th:unless="${readOnly}">
				<label for="file" class="control-label" th:text="#{common.file}"></label>
				<input type="file" class="form-control" th:field="*{file}" />
			</div>
		</div>

		<br/>
		<div class="tab-pane" id="authorShipTab">
			<div th:remove="tag" th:include="@{fragments/_authorship} :: authorship"></div>
		</div>

	</div>

</body>
</html>