<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<link th:remove="tag" th:include="@{fragments/headTag} :: headTag"></link>
	<style type="text/css" media="screen">
		.chart {
			width: 100%;
			height: 500px;
		}
		.chart .node {
			position:absolute;
			background:#ffffff;
			background:-moz-linear-gradient(top, #ffffff, #dddddd);
			background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
			filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='@bottom', endColorstr='@top',GradientType=0 );
			border:solid 2px #e7e7e7;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;
			border-radius:10px;
			color:#555555;
			font-size:8pt;
			text-align:center;
			padding:5px;
			display:table;
			overflow:hidden;
		}
		.chart .node div.title {
			display:table-cell;
			vertical-align:middle;
		}
		.action {
			color:#FFFFFF !important;
			font-size:5pt;
			font-weight:bold !important;
			text-shadow:-1px -1px 0 #0000ff,1px -1px 0 #0000ff,-1px 1px 0 #0000ff,1px 1px 0 #0000ff;
		}
	</style>
</head>
<body>

	<div th:remove="tag" th:include="@{fragments/header} :: header"></div>

	<div class="container" sec:authorize="isAuthenticated()">
		<div class="row">

			<div id="content" class="col-md-12">
				<div th:remove="tag" th:include="@{fragments/notificationSection} :: notificationSection"></div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<strong th:text="#{workflow.view}"></strong>
					</div>
					<div class="panel-body">
						<div class="col-sm-5">
							<div class="chart">
							</div>
						</div>
						<div class="col-sm-7">
							<form id="workflowForm" th:action="@{/workflow/save}" th:object="${workflow}" method="post">
								<div th:remove="tag" th:include="@{workflow/_workflow-form} :: workflow-form"></div>

								<br/>
								<div class="form-actions">
									<a th:href="@{/workflow/edit/} + ${workflow.id}" class="btn" sec:authorize="hasAnyRole('ROLE_ADMIN,ROLE_WORKFLOW_EDIT')">
										<i class="glyphicon glyphicon-edit"></i>
										<span th:text="#{common.edit}" th:remove="tag"></span>
									</a>

									<a th:href="@{/workflow/list/}" class="btn">
										<i class="glyphicon glyphicon-backward"></i>
										<span th:text="#{common.back}" th:remove="tag"></span>
									</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:remove="tag" th:include="@{fragments/footer} :: footer"></div>
	<script type="text/javascript" th:src="@{/resources/plugin/jquery-textfill/jquery.textfill.js}"></script>
	<script type="text/javascript" th:src="@{/resources/plugin/jsPlumb/jsPlumb.js}"></script>
	<script type="text/javascript" th:src="@{/resources/app/js/workflow.js}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$.getJSON(App.contextPath + '/workflow/test', function(data) {
				console.log(data);
				workflowDrawer.draw(data[0]);
			});
		});
	</script>
</body>
</html>