<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>

<body th:fragment="breadcrumb">

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="breadcrumb" th:object="${session.breadcrumb}">
				<ol class="breadcrumb">
					<li th:unless="*{tree}"><a id="first" th:href="@{/}" th:text="#{breadcrumb.home}"></a></li>
	
					<li th:if="*{tree}" th:each="bc,status : *{tree}" th:remove="tag">
						<ul th:switch="${status.count}" th:remove="tag">
							<li th:case="1"><a id="first" th:href="@{/}" th:text="#{breadcrumb.home}"></a></li>
	
							<li th:case="*{#lists.size(tree)}" id="current" class="active">
								<span class="divider"></span> 
								<span th:text="${bc.name}" th:remove="tag"></span>
							</li>
							<li th:case="*" class="active">
								<span class="divider"></span>
								<span th:text="${bc.name}" th:remove="tag"></span>
							</li>
						</ul>
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

</body>

</html>
