<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>

<body th:fragment="header">

	<!-- topbar starts -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}"> <img th:src="@{/resources/app/img/logo.png}" style="width: 20px; height: 20px;" />
					<strong th:text="#{app.title}"></strong>
				</a>
			</div>

			<div class="navbar-collapse collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav"> <!-- Settings dropdown starts -->
					<li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_CREATE, ROLE_USER_LIST')">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="glyphicon glyphicon-wrench"></i>
							<span th:remove="tag" th:text="#{user.header.admin}"></span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<!-- Users -->
							<li role="presentation" class="dropdown-header" th:text="#{users}"></li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_LIST')">
								<a th:href="@{/user/list}"> <i class="glyphicon glyphicon-th-list"></i>&nbsp; <span th:text="#{user.list}"></span></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_CREATE')">
								<a th:href="@{/user/new}"> <i class="glyphicon glyphicon-plus"></i>&nbsp; <span th:text="#{user.new}"></span></a>
							</li>
							<!-- User Groups -->
							<li role="presentation" class="dropdown-header" th:text="#{user.groups}"></li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_PERMISSION_LIST')">
								<a th:href="@{/user-group/list}"> <i class="glyphicon glyphicon-th-list"></i>&nbsp; <span th:text="#{user.group.list}"></span></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_USER_PERMISSION_CREATE')">
								<a th:href="@{/user-group/new}"> <i class="glyphicon glyphicon-plus"></i>&nbsp; <span th:text="#{user.group.new}"></span></a>
							</li>
							<!-- Workflows -->
							<li role="presentation" class="dropdown-header" th:text="#{workflows}"></li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_WORKFLOW_LIST')">
								<a th:href="@{/workflow/list}"> <i class="glyphicon glyphicon-th-list"></i>&nbsp; <span th:text="#{workflow.list}"></span></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_WORKFLOW_CREATE')">
								<a th:href="@{/workflow/new}"> <i class="glyphicon glyphicon-plus"></i>&nbsp; <span th:text="#{workflow.new}"></span></a>
							</li>
							
							<!-- AuditLog -->
							<li role="presentation" class="dropdown-header" th:text="#{common.system}"></li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN')">
								<a th:href="@{/auditlog/list}"> <i class="glyphicon glyphicon-th-list"></i>&nbsp; <span th:text="#{auditlog.list}"></span></a>
							</li>
						</ul>
					</li>
				</ul> <!-- Settings dropdown ends -->
				<ul class="nav navbar-nav"> <!-- Projects dropdown starts -->
					<li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_PROJECT_LIST, ROLE_PROJECT_CREATE')">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="glyphicon glyphicon-tasks"></i>
							<span th:remove="tag" th:text="#{projects}"></span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li role="presentation" class="dropdown-header" th:text="#{projects}"></li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_PROJECT_LIST')">
								<a th:href="@{/project/list}"> <i class="glyphicon glyphicon-th-list"></i>&nbsp; <span th:text="#{project.list}"></span></a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_PROJECT_CREATE')">
								<a th:href="@{/project/new}"> <i class="glyphicon glyphicon-plus"></i>&nbsp; <span th:text="#{project.new}"></span></a>
							</li>
						</ul>
					</li>
				</ul> <!-- Projects dropdown ends -->
				<ul class="nav navbar-nav navbar-right"> <!-- Logged-User dropdown starts -->
					<li sec:authorize="isAuthenticated()" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="glyphicon glyphicon-user"></i>
							<span class="hidden-phone" sec:authentication="principal.systemUser.name"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a th:href="@{/user}"> <i class="icon-user"></i>&nbsp; <span th:text="#{user.profile}"></span></a>
							</li>
							<li>
								<a th:href="@{/user/change-password}"> <i class="icon-edit"></i>&nbsp; <span th:text="#{user.change.password}"></span></a>
							</li>
							<li class="divider"></li>
							<li>
								<a th:href="@{/auth/logout}"> <i class="icon-off"></i> <span th:text="#{user.logout}"></span></a>
							</li>
						</ul>
					</li>
				</ul> <!-- user dropdown ends -->
				
			</div>
		</div><!--/.nav-collapse -->
	</nav>
	<!-- topbar ends -->

	<div th:include="@{fragments/breadcrumb} :: breadcrumb" th:remove="tag" sec:authorize="isAuthenticated()"></div>

</body>

</html>